@page 
@using AgenciaTurismo.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Bem Vindo</h1>
    <p>Learn about <a><h2>Agência de Turismo Boa Viagem</h2></a></p>
</div>
